:root {
    --text: #fcf7f2;
    --background: #282a36;
    --card: #44475A;
    --row: #787b90;
    --accent: #34d4b2;
}
body {
    font-family: 'Work Sans', sans-serif;
    padding: 15px;
    background-color: var(--background);
    color: var(--text)
}
h1,h2,h3,h4 {
    font-family: 'Josefin Sans', 'Work Sans', sans-serif;
}
.button {
    background-color: var(--row);
    border-radius: 8px;
    padding: 12px;
    text-align: center;
}
.heightAnimation {
    transition: max-height 0.2s ease-in-out;
}
.fillHeight {
    height: 100%;
    height: -webkit-fill-available !important;
    height: -moz-available !important;
  }  
.fill {
    width: 100%;
    width: -moz-available !important;
    width: -webkit-fill-available !important;
}
.circle {
    border-radius: 50%;
    background-color: var(--card);
    width: 23px;
    height: 23px;
    margin-right: 8px;
    position: relative;
}
.buttonImg {
    height: 18px;
    width: 18px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.btnPrivacy {
    background-color: var(--row);
    border-radius: 8px;
    margin-bottom: 15px;
}
.btnContainer {
    background-color: var(--row);
    border-radius: 8px;
    width: 49%;
    height: 45px;
    margin-bottom: 15px;
}
.disabled {
    filter: brightness(50%);
    -webkit-filter: brightness(50%)
}
.rightFlex {
    display: flex;
    float: right;
    height: 100%;
    margin-right: 15px;
    align-items: center;
}
.dialog {
    position: absolute;
    z-index: 99;
    width: 60vw;
    height: 60vh;
    top: 10vh;
    background-color: var(--card);
    border-radius: 8px;
    overflow-y: scroll;
}
.innerDialog {
    padding: 20px;
    padding-top: 10px;
}
.contentRespect {
    height: 100%;
    width: 100%;
    border-radius: 8px;
    object-fit: contain;
}
.opacity {
    transition: opacity 0.2s ease-out;
}
.leftContent {
    float: left;
    padding: 8px;
    align-items: center;
    display: flex;
    max-width: 60%;
}
.searchContainer {
    position: absolute;
    width: 70vw;
    height: 20vh;
    z-index: 1;
    padding: 5vw;
    margin-left: 10vw;
    border-radius: 8px;
}
.leftMargin {
    margin-left: 1%;
}
.textPreview {
    background-color: var(--row);
    padding: 15px;
    overflow-y: scroll;
    border-radius: 8px;
}
.rightMargin {
    margin-right: 1%;
}
#introduction {
    display: flex;
}
.card {
    background-color: var(--card);
    border-radius: 8px;
    width: 47%;
    padding: 2%;
 }
#introduction {
    display: flex;
}
#rightMove {
    float: right;
}
@media only screen and (max-width: 750px) {
    .leftMargin {
        margin-left: 0%;
    }
    .rightMargin {
        margin-right: 0%;
    }
    .btnContainer {
        width: 100%;
    }
    .card {
        width: 100%;
        margin-bottom: 20px;
        padding: 15px;
    }
    #introduction {
        display: block;
        margin-right: 3vw;
    }
    #rightMove {
        float: left;
    }
}
input[type=text] {
    display: block;
}
input[type=color] {
    background-color: var(--row);
    border-radius: 8px;
    height: 25px;
    border: 0px;
    padding-left: 4px;
    padding-right: 4px;
    margin-left: 10px;
  }
input[type=text], select, input[type=number] {
    background-color: var(--row);
    height: 30px;
    width: 180px;
    margin: auto;
    font-family: 'Work Sans', sans-serif;
    border-radius: 20px;
    padding-left: 10px;
    color: var(--text);
    border-color: rgba(0,0,0,0);
}

.actionContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--card);
    border-radius: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
}
.imgBtn {
    padding: 8px;
    border-radius: 8px;
    background-color: var(--row);
    margin-right: 5px;
}
.btnMargin {
    margin-left: 3px;
}
.chooserImg {
    display: block; margin: auto
}
.textCenter {
    display: block; width: 100%; text-align: center;
}
.spinnerAnimate {
    height: 100px;
    width: 100px;
    position: fixed;
    top: 50vh;
    left: 50vw;
    right: 50vw;
    bottom: 50vh;
    z-index: 101;
    border-radius: 100%;
    background-color: var(--accent);
    animation: spinnerAnimation 1.15s infinite ease-in-out
}
@keyframes spinnerAnimation {
    from {transform: scale(0); opacity: 1;}
    to {transform: scale(1); opacity: 0;}
 }
 @keyframes hoverAnimation {
    from {filter: brightness(100%); -webkit-filter: brightness(100%);}
    to {filter: brightness(150%); -webkit-filter: brightness(150%);}
 }
 @keyframes noHoverAnimation {
    from {filter: brightness(150%); -webkit-filter: brightness(150%);}
    to {filter: brightness(100%); -webkit-filter: brightness(100%);}
 }
.hover {
    animation: hoverAnimation 0.5s;
    animation-iteration-count: 1;
    filter: brightness(150%);
    -webkit-filter: brightness(150%);
    cursor: pointer;
}
.byehover {
    animation: noHoverAnimation 0.5s;
    animation-iteration-count: 1;
}
.noDisplayDialog {
    transform: scaleX(0) scaleY(0);
    animation: testScale 0.35s reverse ease-in-out;
}
.displayDialog {
    animation: testScale 0.35s ease-in-out;
}
.revNoDisplayDialog {
    transform: scaleX(0) scaleY(0);
    animation: reversescale 0.35s reverse ease-in-out;
}
.revDisplayDialog {
    animation: reversescale 0.35s ease-in-out;
}
@keyframes testScale {
    0% {transform: scaleX(0.00) scaleY(0.0); transform-origin: top;}
    35% {transform: scaleX(0.05) scaleY(1); transform-origin: top;}
    85% {transform: scaleX(1.05) scaleY(1.05); transform-origin: top;}
    100% {transform: scaleX(1) scaleY(1); transform-origin: top;}
 }
 @keyframes reversescale {
    0% {transform: scaleY(0.00) scaleX(0.0); transform-origin: bottom;}
    35% {transform: scaleY(0.05) scaleX(1); transform-origin: bottom;}
    85% {transform: scaleY(1.05) scaleX(1.05); transform-origin: bottom;}
    100% {transform: scaleY(1) scaleX(1); transform-origin: bottom;}
 }
 .alert {
    position: absolute; top: 10vw; z-index: 105; display: flex; opacity: 0;
    width: 60vw;
    margin-left: 20vw;
    padding: 15px;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    background-color: var(--row);
 }
 .settingTab {
    margin-top: 10px;
padding: 15px;
background-color: var(--row);
border-radius: 8px;
 }
 .rightm {
    margin-right: 10px;
    padding: 10px !important
  }
  
  .colorSelect {
    background-color: var(--background);
    border-radius: 8px;
    height: 30px;
    padding: 5px;
    margin-bottom: 10px;
  }
.a:link, a:visited, a {
    color: var(--text) !important;
}
.center {
    text-align: center;
display: block;
}